body {
  align-items: center;
  background-color: hsl(40, 100%, 50%);
  display: flex;
  flex-direction: column;
  font-family: 'Londrina Sketch', cursive;
  justify-content: center;
}

.banner {
  align-items: center;
  display: flex;
  width: 435px;
}

.banner h1 {
  font-size: 50px;
  margin-right: 40px;
}

.banner h2 {
  width: 40px;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 500px;
}

.project {
  align-items: center;
  background-color: hsl(50, 100%, 50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Coming Soon', cursive;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.project-banner {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%
}

.project-banner a {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-left: 60px;
  padding: 7px;
  text-decoration: none !important;
}

.tell-me-more {
  background-color: hsl(38, 100%, 50%);
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  padding: 6px;
  margin-bottom: 5px;
  margin-right: 60px;
}

.project-description {
  align-items: center;
  background-color: hsl(60, 100%, 50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 7px;
  width: 90%;
}
